.font-exo {
  font-family: "Exo 2", sans-serif;
}
.font-work {
  font-family: "Work Sans", sans-serif;
}
/* Home Page Hero Form */
.form_inner::before {
  content: "";
  width: 1px;
  height: 22px;
  background: #d9d9d9;
  position: absolute;
  left: 51px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}
/* Home Page Partners Title */
.partner_title::after {
  content: "";
  width: 114px;
  height: 1px;
  background-color: rgba(0, 167, 172, 0.5);
  border-radius: 5px;
  position: absolute;
  top: 55%;
  right: -130px;
  transform: translateY(-50%);
}
